"*":
  "atom-beautify":
    js:
      beautify_on_save: true
    json:
      beautify_on_save: true
    jsx:
      beautify_on_save: true
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "go-plus"
    ]
    telemetryConsent: "no"
  editor:
    tabType: "soft"
  etheratom: {}
  "exception-reporting":
    userId: "253034f9-7a7b-43c8-8f1e-8acd1c2e3c19"
  "linter-ui-default":
    showPanel: true
  welcome:
    showOnStartup: false
